*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: inherit;

}

/* 16px is default from 100%; user can zoom into page
 */html{
    font-size: 62.5%; 
}

body {
    box-sizing: border-box;
}