.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba ($color-black, .1);
    background-color: $color-white;
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    overflow: hidden;
    transform: skewX(-12deg);

    &>*


  &__img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    float: left;
    }

&__shape {
    width: 15rem;
    height: 15rem;
    shape-outside: circle(50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);;
}

   &__text {
        float: right;
        margin-left: 20rem;
        margin-top: -12rem;
        transform: skewX(12deg);
    }
    
}